{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="{% static 'css/abstyle.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/64d58efce2.js"
         crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top mb-5">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                <a class="navbar-brand mr-5" href="#"> <img src="{% static 'images/bbhlogo.jpeg' %}" height="30" width="41" alt="logo">
                </a>
                <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active mr-5" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                     <li class="nav-item"><a class="nav-link active mr-5" href="/index" style="text-decoration: underline;"><span class="fa fa-info fa-lg"></span> About</a></li>
                      <li class="nav-item"><a class="nav-link active mr-5" href="/feedback"><span class="fa fa-pen-square fa-lg mr-1"></span>Feedback</a></li>
                      <!---- <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg"></span></a></li>-->
    
                 </ul>
               
            </div>
    
            </div>
    
        </nav>
        <div class="header">
            <div class="main">
                 <!--col-12 col-md-6"-->
                 <h1>About Us...</h1>
                        <p>The Online Fees Payment portal is to make a Fees payment by online instead of making a payment 
                        throuth long queue in office, It takes more time, To avoiding this to make a payment on online
                        it saves time.<br><br>
                        The Portal contains Two types of fees payment option one is Exam Fees Payment and another one is Academic fees payment. In the Exam Fees payment
                        students getting the exam fees form to filling this form they can make payment. After filling 
                        the exam fees form that is redirect to the college provided Exam Fees form So, students 
                        do not worry about the form and also same as the Academic Fees Payment by the same procedure 
                        by online.The staff need not take headache to receiving payment amount from the students.<br><br>
                        This portal also provides the Exam fees details and Academic Fees details like In exam fees payment students 
                        can will know subject code for each suject,amount for each subject, and also backlog subjects So, getting this details students can pay 
                        current semester fees and coming to academic fees payment students can know the amount for each Courses 
                        to knowing this can pay the Academic fees from home by Online and also this portal provides the Installment 
                        facility to the students so they do not worry about that. After making a payment students can get fees receipt
                        and they can save and print the receipt.<br>
                        This portal also provides the Feedback option In that the students can give suggestions to this portal and satisfaction
                        about this portal.</p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>