{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js"
         crossorigin="anonymous"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="{% static 'css/clg.css' %}">
    <title>College Academic Fees</title>
    <link rel="icon" href="{% static 'images/flogo.png' %}" type="png">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Bree+Serif&family=Baloo+2:wght@500&family=Lobster+Two:ital@1&display=swap" rel="stylesheet">

</head>
{% if msg == "notpaid" %}
<body onload="yrrlist()">
{% else %}
<body>
    
{% endif %}
<header class="fixed-top form-head">
    <div class="container-fluid">
        <img src="{% static 'images/logo.jpg' %}" alt="logo" height="60" width="61" class="ml-2">
        <span style="color: goldenrod;">FEEPAY</span>
    <a href="/homepage" style=" color:floralwhite;
    background-color: black;
    text-decoration: none;"><span class="fa fa-home fa-lg"></span>HOME</a>
    </div>
    
</header>

   <!------<header class="fixed-top form-head">
        <a href="/homepage" style=" color:floralwhite;
        background-color: transparent;
        text-decoration: none;"><span class="fa fa-home fa-lg"></span>HOME</a>
    </header>

    <div class="clgname">
        <h1>Dr BB Hegde First grade college Kundapur</h1>
    </div>
    <div class="logo col-6">
        <img src="{% static 'images/bbhlogo.jpeg' %}" class="img-fluid" alt="‪">
    </div>------>
    <!---% if msg == "halfpaid" or msg == "notpaid" %--->
    
    <div class="row row-content acadform containers" id="blur">
        <div class="container col-13 col-md-8" >

            <form action="clgfee" method="post">
                {% csrf_token %}
                <div class="banner">
                    <h1 style="color: black;">Accademic Fees Pay</h1>

                  </div>
                  <br/>
                <fieldset style="color:#222">
                    <legend align="center">...Fill The Form Below...</legend>
                </fieldset>
                    <br>
                
                
                 <div class="item form-group row">
                    <label for="name" class="col-md-3 col-form-label">Student's Name:<span style="color: red;">*</span></label>
                         <div class="col-md-9">
                             <input required type="text" class="form-control" id="name" name="name" value="{{user.name}}" placeholder="As Registered in college">
                         </div>
                 </div>
    
    
                  <div class="item form-group row">
                    <label for="emailid" class="col-md-3 col-form-label">Email Id:<span style="color: red;">*</span></label>
                    <div class="col-md-9">
                        <input type="email" required class="form-control" name="emailid" value="{{user.email}}" id="emailid" placeholder="Email" readonly >
                    </div>
                 </div>
                 
                 <div class="item form-group row">
                    <label for="roll-no" class="col-md-3 col-form-label">Roll No:<span style="color: red;">*</span></label>
                    <div class="item col-md-9">
                       <input required type="text" class="form-control" id="roll-no" name="roll-no" placeholder="Roll Number" value="{{user.roll_no}}">
                   </div>
                 </div>
                   {% if msg == 'notpaid' %}
                   <div class="item form-group row">
                    <label for="course" class="col-md-3 col-form-label">Course:<span style="color: red;">*</span></label>
                    <div class="item col-md-9">
                       <select class="form-control" name="course" id="course" onchange="yrrlist()">
                           <option>BCA</option>
                           <option>BCom</option>
                           <option>BSc</option>
                           <option>BBA</option>
                       </select>
                    </div>
                    
                    
                </div>
                <div class="item form-group row">
                    <label for="year" class="col-md-3 col-form-label">Year:<span style="color: red;">*</span></label>
                    <div class="item col-md-3">
                       <select class="form-control" name="year" id="year" onchange="yrrlist()">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                  
                        </select>
                    </div>
                    <label for="fees" class="col-md-3 col-form-label">Fees:</label>
                    <div class="item col-md-3" id="fees">
                    </div>
                </div>
                
                <div class="row" id="instalist">
                    <div class="form-group col-md-6 col-13">
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"
                            name="instament" id="instament" value="" onchange="listinstallment(this)">
                            <label class="form-check-label" for="approve">
                                <strong> Pay in installments?
                                </strong>

                            </label>
                            
                    </div>
                
                </div>
                
                
               </div>

               {% elif msg == "halfpaid" %}
                    <div class="row item">
                        <div class="form-group col-6">
                            <div class="2instament">
                                <input type="checkbox" class="form-check-input ml-2"
                            name="instamenttwo" id="instamenttwo" value="" onchange="listhinstallment(this)">
                            <label class="form-check-label ml-4" for="approve">Pay second installment</label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row item">
                        <div class="form-group col-md-6" id="ccourse" style="display: none;">
                            <label class="col-form-label">Course:</label>
                            <input class="item form-control" type="text" id="cc" name="course" value="{{user.course}}">
                        </div>
                        <div class="form-group col-md-6 item" id="cy" style="display: none;">
                            <label class="col-form-label">Year:</label>
                            <input class="form-control" type="text" id="cyear" name="year" value="{{user.year}}">
                        </div>
                    </div>
                    <div class="row item">
                        <label style="display: none;" for="hfee" id="hfeelabel" class="col-md-3 col-form-label item">Fees:</label>
                       
                            <input type="text" name="amt" id="amt" style="display: none;" class="form-control">
                        
                        </div>
                    
                {% endif %}
                <div class="form-group col-md-4">
                    <input type="text" id="half" name="half" style="display: none;">

                </div>
             <div class="form-group row">
                 <div class="item offset-md-2 col-md-12 col-12">
                     <button type="submit" class="btn btn-primary">
                         Pay
                     </button>
                 </div>
             </div>
             {% csrf_token %}
             </form>
        </div>
    </div>
 
{% if msg == "fullpaid" %}
<div>


<!---Pop Up div startssss---------------------------------------------------->
<div class="conainer">
    <div class="row">
        <div id="popup" class="col-11 col-md-4">
            <br>
            <h2>You have already paid fees</h2>
            <br>
            <hr>
            <a href="homepage" onclick="toggle()">Close</a>          
        </div>
    </div>
</div>
<script>
    var blur=document.getElementById('blur')
    blur.classList.toggle('active')
    var popup=document.getElementById('popup')
    popup.classList.toggle('active')
</script>
</div>
    
{% endif %}
<script
 src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"> 
</script>
<script>
    var selected_year=0;
    var back_data=JSON.parse('{{listyear|escapejs}}');
    function getValue(pasid){
            var yr=document.getElementById(pasid);
            var y=yr.options[yr.selectedIndex].value;
            return y;
    }
    function yrrlist(){

            selected_year=0;
            console.log(selected_year);
            var pydiv=document.getElementById('fees');
            pydiv.innerHTML="";
            var y=getValue("year");
            console.log(y);
            

            var c=getValue("course");
            console.log(c);
            for (let i=0; i<back_data.length;i++){
                if(back_data[i].course.toUpperCase()==c.toUpperCase() && back_data[i].year==y){

                    console.log(back_data[i]);
                    var d =document.createElement('div');
                    d.classList.add("form-group","row");
                    var l1=document.createElement('input');
                    l1.setAttribute("type","text");
                    l1.setAttribute("name","amt");
                    l1.setAttribute("id","amt");
                    l1.classList.add("col-12","col-form-label");
                    l1.value=back_data[i].fee;
                    d.appendChild(l1);
                    pydiv.appendChild(d);
                        
                    console.log(selected_year);
                    selected_year=back_data[i].fee;
                
                }
            }
    }

    function listinstallment(obj){
        var ilabel=document.getElementById('installmtlabel');
        var h=document.getElementById('half');

        if(obj.checked==1){
        alert("CHECKED");
           
            h.value="half";
            
            installlist()

        } else{
            alert("not checked");
            h.value="";
            iheader.style.display="none";
         }
    }
    function listhinstallment(obj){
        var ccource=document.getElementById("ccourse");
        var c=document.getElementById("cc");
        var y=document.getElementById("cyear")
        var cy=document.getElementById("cy");
        var hfee=document.getElementById("amt");
        var hfeelbl=document.getElementById("hfeelabel");
        var h=document.getElementById('half');
        if(obj.checked==1){
            h.value="half";
            ccource.style.display="initial";
            cy.style.display="initial";
            hfee.style.display="initial";
            hfeelbl.style.display="initial";
            for(let i=0; i<back_data.length;i++){
                if(back_data[i].course.toUpperCase()==c.value.toUpperCase() && back_data[i].year==y.value){
                    hfee.textContent=back_data[i].fee/2;
                    hfee.value=back_data[i].fee/2;
                    
                }
            
            }
        }
        else{
            h.value=" ";
            ccource.style.display="none";
            cy.style.display="none";
            hfee.style.display="none";
            hfeelbl.style.display="none";
            amt.value=0;
        }

    }
     function installlist(){
         selected_year=0;
         console.log(selected_year);

         var pydiv=document.getElementById('fees');
         pydiv.innerHTML="";
         var y=getValue("year");
         console.log(y);

         var c=getValue("course");
         console.log(c);
         for(let i=0; i<back_data.length;i++){
             if(back_data[i].course.toUpperCase()==c.toUpperCase() && back_data[i].year==y){
                 var fees=back_data[i].fee/2;
                 console.log(fees);
                 var d=document.createElement('div');
                 d.classList.add("form-group","row");
                 var l1=document.createElement('input');
                 l1.setAttribute("type","text");
                 l1.setAttribute("name","amt");
                 l1.setAttribute("id","amt");
                 l1.classList.add("col-12","col-form-label");
                 l1.value=fees;
                 
                 
                 d.appendChild(l1);
                 pydiv.appendChild(d);

                 console.log(selected_year);
                 selected_year=back_data[i].fee;

             }
         }
     }
            



</script>
</body>
</html>

