{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Print exam form</title>
    <link rel="icon" href="{% static 'images/flogo.png' %}" type="png">
    <style>
        .btn{
            width: 100%;
            border-radius: 50px;
            margin: auto;
        }
    
        @page {
            margin-left: -1.5cm;
            size: 420mm X 594mm;
        }
    </style>
</head>
<body style="align-items: left;">
    <div style="width: 80%; margin:auto;">
        <div class="container" style=" border:1px solid black;">
            <div class="row row-content">
                <div class="col-12 text-center">
                    <h5><b>Manglore University Exam Application Form</b></h5>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12">
                    <div class="container">
                        <div class="row row-content">
                            <b>1.Name of The Candidates in Block Letter</b>
                        </div>
                        <div class="row row-content">
                            <div class="table-responsive-lg">
                                <table class="table table-bordered">
                                    <tr>
                                        {% for i in obj.name %}
                                         <td>{{i}}</td>
                                         {% endfor %}
                                    </tr>
                                    </table>
                            </div>
                            
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12 col-sm-6">
                    <div class="container">
                        <div class="row row-content">
                            <b>2.Registration No.</b>
                        </div>
                        <div class="row row-content">
                            <div class="table-responsive-lg">
                                <table class="table table-bordered">
                                    <tr>
                                        {% for i in obj.register_no %}
                                        <td>{{i}}</td>
                                        {% endfor %}
                                    </tr>
                                    </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="container">
                        <div class="row row-content">
                            <b>3.College code.</b>
                        </div>
                        <div class="row row-content">
                            <div class="table-responsive-lg">
                                <table class="table table-bordered">
                                    <tr>
                                        {% for i in obj.college_code %}
                                             <td>{{i}}</td>
                                        {% endfor %}
                                    </tr>
                                    </table>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12 col-sm-6">
                    <div class="container">
                        <div class="row row-content">
                            <b>4.Course & Current Year/Semester</b>
                        </div>
                        <div class="row row-content">
                            <div class="table-responsive-lg">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>{{obj.course}}</td>
                                        <td>SEM{{obj.sem}}</td>
                                    </tr>
                                    </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="container">
                        <div class="row row-content">
                            <b>5.Month & Year of Examination</b>
                        </div>
                        <div class="row row-content">
                            <div class="table-responsive-lg">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>{{obj.month}}</td>
                                    </tr>
                                    </table>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="width: 80%;">
                    <div class="container">
                        <div class="row row-content">
                            <div class="col-12">
                                <b>6.Fee Paid Details</b>
                            </div>
                            
                        </div>
                        <div class="row row-content">
                            <div class="col-12">
                                <div class="table-responsive-lg">
                                    <table class="table table-bordered" >
                                        <thead>
                                            <tr>
                                                <th rowspan="2">App.Fee</th>
                                                <th colspan="2">I/II SEM </th>
                                                <th colspan="2">III/IV SEM</th>                                   
                                                <th colspan="2">V/VI SEM</th>
                                                <th colspan=3 style="border: none;"></th>
                                            </tr>
                                            <tr>
                                                <th>M.Fee</th>
                                                <th>Exam<br>Fee</th>
                                                <th>M.Fee</th>
                                                <th>Exam<br>Fee</th>
                                                <th>M.Fee</th>
                                                <th>Exam<br>Fee</th>
                                                <th>Fine</th>
                                                <th>Special Fee</th>
                                                <th>Total</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{afee}}</td>

                                                <td>
                                                    {% if t1 > 0 %}
                                                    {{mfee}}
                                                    {% endif %}
        
                                                </td>
                                                <td>
                                                    {% if t1 > 0 %}
                                                    {{t1}}
                                                    {% endif %}
                                                </td> 
                                                <td>
                                                    {% if t2 > 0 %}
                                                    {{mfee}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if t2 > 0 %}
                                                    {{t2}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if t3 > 0 %}
                                                    {{mfee}}
                                                    {% endif %}

                                                </td>             
                                                <td>
                                                    {% if t3 > 0 %}
                                                    {{t3}}
                                                    {% endif %}
                                                </td>
                                                <td></td>
                                                <td></td>    
                                                <td>{{t}}</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan=13><b>Subject Details</b></td>
            
                            </tr>
                            <tr align="center">
                                <th>SI<br>No.</th>
                                <th>Year/<br>Sem</th>
                                <th colspan="3"> Subject Code</th>
                                <th>Subject<br>Status</th>
                                <th colspan="6">Subject Name</th>
                            </tr>
                        
                               {% for i in subs %}
                                
                                    <tr>
                                                    
                                    
                                                     <td>{{ forloop.counter }}</td>
                                                     <td>{{i.sem}}</td>
                                                     <td colspan="3">{{i.sub_code}}</td>
                                                     <td>
                                                         {% if i.sem == sem %}
                                                          F
                                                          {% else %}
                                                          R
                                                          {% endif %}
                                                     </td>
                                                     <td colspan="6">{{i.subject}}</td>
                                         </tr>
                                {% endfor %} 
                                <tr>
                                    {% if sem < 5 %}
                                    <td></td>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td></td>
                                    <td colspan="6">{{my_assoc}}</td>

                                    {% endif %}
                                </tr>    
                        
                            
                            <tr>
                                <td colspan=13><b>I hereby confirm information given by me in this form is true</b></td>
                            </tr>
                            <tr>
                                <td colspan=13><br><b>Place:Kundapura</b><br><br><b>Date:{% now "d/m/Y" %}</b><br><br>
                                    
                                 
                            </tr>
                            <tr>
                                <td colspan="13" align="right">
                                   <form method="POST" action="save_sign" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if bton == True %}
                                    <p style="color: red;">1.Choose your signature in jpg,jpeg or png format<br>Ensure that image has white background</p> 
                                    <input required style="width: 100px;
                                    overflow:hidden;" type="file" name="signature" id="sign" accept="image/jpeg image/jpg image/png"><br>
                                    {% endif %}
                                    <img id="myImg" src="media/{{ obj.register_no }}.png" alt="your signature" height=50 width=250><br> 
                                    {% if bton == True %} 
                                    <p style="color: red;">2.Upload the above signature</p>
                                    <button style="border-radius: 50px;" type="submit">Upload Signature</button><br>
                                    {% else %}
                                    <b><u>Signature of the Candidate</u></b><br>
                                    {% endif %}
                                    {% csrf_token %}
                                   </form>
                                </td>
                             </tr>
                           
                        </table>
                    </div>
                </div>
            </div>
            
            
        </div>
        {% if pdf == False and bton == False %} 
        <div class="container" style="margin-bottom: 10%; margin-top:5%">
           <div class="row">
               <div class="col-12">
                <p>Please ensure that the above details are correct, If you want to make changes refill the <a href="payexam">examination form</a> here.</p>
               </div>
           </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form method="POST" action="pay/">
                        {% csrf_token %}
                        <input style="display: none;" type="text" name="amt" value="{{t}}">
                        <input style="display: none;" type="text" name="type" value="examfee">
                        <button type="submit" class="btn btn-warning btn-lg">Proceed to Pay</button>
                        {% csrf_token %}
                    </form>
                    
                </div>
            </div>
                
            </div>
        </div>
        {% endif %}

    </div>
   <script>
        window.addEventListener('load', function() {
            document.querySelector('input[type="file"]').addEventListener('change', function() {
                if (this.files && this.files[0]) {

                    var img = document.querySelector('img');
                    img.onload = () => {
                        URL.revokeObjectURL(img.src);  // no longer needed, free memory
                    }
          
                    img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                }
            });
          });
    </script>
</body>
</html>