{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acadamic Fee Pay receipt</title>
  <link rel="icon" href="{% static 'images/flogo.png' %}" type="png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/re.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .row{
          border-bottom: 1px dashed black;
      }
  </style>
</head>
<body>
    <div class="container">
    <div class="row clgname justify-content-center" style="border: 2px solid black; margin:2px;">
        <div style="text-align: center;" class="col-12 col-md-6">
            <h1>Dr.B.B.Hegde First Grade College</h1>
            <p>KUNDAPURA-576201, Udupi Dist.<br>
            (Managed by coondapur Education Society(R.),Kundapura)</p>
        </div>
    </div>
    <div class="row justifuy-content-center" style="border: 2px solid black; margin:2px;">
        <div class="col-12">
            <form>
                <div class="row justify-content-center form-group">
                    <div class="col-sm-6"><label>Transaction No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trans}}<label> Date&nbsp;&nbsp;&nbsp;&nbsp;{% now 'd/m/Y' %}</label></div>
                  
                </div>
    
    
                <div class="row top-buffer form-group">
                    <div class="col-12"><label>Name</label>&nbsp;&nbsp;&nbsp;&nbsp;{{context.name}}</div>
                </div>
                <div class="row top-buffer form-group">
                    <div class="col-12 col-md-4">Class&nbsp;&nbsp;&nbsp;&nbsp;{{context.year}}{{context.course}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Roll No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{context.roll_no}}</div>
                </div>
                <div class="row top-buffer form-group">
                    <div class="col-sm-12">Year&nbsp;&nbsp;&nbsp;&nbsp;{% now 'Y' %} </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row justifuy-content-center" style="border: 2px solid black; margin:2px;">
    <div class="col-12">
        <table border="1" class="table" style="width:100%;"> 
            <tr>
                <th>No.</th>
                <th>Particulars</th>
                <th colspan="2">Rs</th>
            </tr>
            <tr>
                <td>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10</td>
                <td>Tution Fees<br>Library and Reading Room Fees<br>Test and Examination Fees<br>Association Fees<br>Magnize and calender fees<br>Anual day celebration<br>Manglore univercity sports found<br>Admission fees<br>Sports fees<br>Library fine</td>
                <td>{{tfee}}<br>{{ecfee.Libraryfee}}<br>{{ecfee.Examfee}}<br>{{ecfee.Associationfee}}<br>{{ecfee.magzinefee}}<br>{{ecfee.annualday}}<br>{{ecfee.MUsportsfee}}<br>{{ecfee.Admissionfee}}<br>{{ecfee.sportfee}}<br>{{ecfee.libraryfine}}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Total</td>
                <td colspan="2">{{tot}}</td>
            </tr>
            <tr>
                <td colspan="2">Concession</td>
                <td colspan="2">{{con}}</td>
            </tr>

            <tr>
                <td colspan="4">Recieved Rs&nbsp;&nbsp;&nbsp;&nbsp;{{amt}} </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="row" style="margin-top: 30px;">
                        <img style="margin-left:10px;display:inline-block;" src="media/{{csign}}" height="50px" width="200px" alt="media/{{psign}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-right:10px;display:inline-block;" src="media/{{psign}}" height="50px" width="200px" alt="media/{{psign}}">
                    <br>
                    </div>
                    <div style="margin-top:20px">
                        <label class="lb offset-1">Casher&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><label class="ll offset-2">Principal</label>

                    </div>
                </td>
            </tr>
            
        </table>
        </div>
        </div>
    </div>

</body> 
</html>
