{% extends "header.html" %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="back">
        <div class="rombus">
            <div class="container p-5" id="contant">
	            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		
                <p>Please enter your new password.</p>
                <form method="POST">
                {% csrf_token %}
                    {{ form|crispy }}                    
                    <button class="btn btn-primary"  id="btn" type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .back {
            width:100%;
            height:100vh;
            font-family: sans-serif;
            background:rgb(187,187,245);
            color:white;;
            display: flex;
            align-items: center;
            justify-content:center;
            margin-top: 0;
            background-color: #44b09e;
            background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);	
        }
    
        #contant{
            /*background-image:linear-gradient(rgb(1, 146, 151),rgba(245, 3, 116, 0.719)),url('static/images/background.png');*/
            background-image:linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url('../../../static/images/background.png');
            height: 80vh;
            background-size: cover;
            background-position: center;
            margin-top:10px;
            padding: 10px 30px;
            width: 500px;
            
        }
    
        #contant h2{
            display: block;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: tahoma;
            margin-top: 120px;
            margin: 0 auto;
            
        }
    
        #contant p{
            display: block;
            font-size: 15px;
            font-family: tahoma;
            letter-spacing: 2px;
            margin:  auto;
            margin-bottom: 30px;
        }
    
        #btn{
            
            margin: 0 auto;
            display: block;
            padding: 10px 10px;
            width: 180px;
            border: 2px solid rgb(121, 119, 119);
            font-size: 16px;
            font-family: tahoma;
            letter-spacing: 2px;
            text-decoration: none;
            border-radius: 50px;
            text-align: center;
            color:white;
            margin-top: 40px;
            background: transparent;
            
    
        }
    
        @media (max-width: 767px) {
            #contant{
                
                
                width: 100%;
                height: 100%;
                clear: both;
                top: 50%;
                padding: 60px;
               
            }  
        }
    </style>
{% endblock %}