{% extends 'header.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<!--<section>-->
        
	<section>
		
      

    <!-----------The LOGIN CONTENT----------------------------------------------------------------------------------------->
    <section>
		<div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
        <div class="wrapper"></div>
		
	<div class="box">
			<div class="containers">

			<div class="card" id="contant">
  	 			<h2 class="font-weight-bold mt-3">Reset Password</h2>
				<hr color="white">
				<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        		<form method="POST">
            	{% csrf_token %}
            		{{ password_reset_form|crispy }}                    
            		<button class="btn btn-primary" id="btn" type="submit">Send email</button>
        		</form>
  			</div> 
		</div>

   </div>
   </section>
	</section>


	<style>
		section {
			width:100%;
			height:100vh;
			font-family: sans-serif;
			background:rgb(187,187,245);
			color:white;;
			display: flex;
			align-items: center;
			justify-content:center;
			margin-top: 0;
			
			background-color: #44b09e;
			background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
	
	
	
			
		}
		
		
		section .wrapper{
			width: 70px;
			height: 70px;
			border: 5px solid blue;
			position: absolute;
			z-index: 1;
		
		}
		section.wrapper:nth-child(1){
			top: 10%;
			left: 30%;
			animation: square 5s linear infinite;
		}
		.back .wrapper:nth-child(2){
			top: 10%;
			left: 60%;
			animation: square 7s linear infinite;
		}
		.back .wrapper:nth-child(3){
			top: 70%;
			left: 10%;
			animation: square 9s linear infinite;
		}
		.back .wrapper:nth-child(4){
			top: 50%;
			left: 40%;
			animation: square 11s linear infinite;
		}
		.back .wrapper:nth-child(5){
			top: 40%;
			left: 20%;
			animation: square 13s linear infinite;
		}
		.back .wrapper:nth-child(6){
			top: 80%;
			left: 30%;
			animation: square 13s linear infinite;
		}
		.back .wrapper:nth-child(7){
			top: 10%;
			left: 10%;
			animation: square 12s linear infinite;
		}
		.back .wrapper:nth-child(8){
			top: 20%;
			left: 85%;
			animation: square 8s linear infinite;
		}
		back .wrapper:nth-child(9){
			top: 75%;
			left: 65%;
			animation: square 9s linear infinite;
		}
		.back .wrapper:nth-child(10){
			top: 80%;
			left: 85%;
			animation: square 7s linear infinite;
		}
		.back .wrapper:nth-child(11){
			top: 50%;
			left: 75%;
			animation: square 7s linear infinite;
		}
		
		@keyframes square{
			0%{
				transform: scale(0) translateY(0) rotate(0);
			}
			100%{
				transform: scale(1.2) translateY(-90px) rotate(360deg);
			}
		}
		
		
	
		#contant{
			/*background-image:linear-gradient(rgb(1, 146, 151),rgba(245, 3, 116, 0.719)),url('static/images/background.png');*/
			background-image:linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url('static/images/background.png');
			height: 60vh;
			background-size: cover;
			background-position: center;
			margin-top:10px;
			padding: 10px 30px;
			width: 500px;
			z-index: 5;
			
		}
	
		#contant h2{
			display: block;
			font-size: 25px;
			font-weight: bold;
			letter-spacing: 2px;
			font-family: tahoma;
			margin-top: 120px;
			margin: 0 auto;
			
		}
	
		#contant p{
			display: block;
			font-size: 15px;
			font-family: tahoma;
			letter-spacing: 2px;
			margin:  auto;
			margin-bottom: 30px;
		}
	
		#btn{
			
			margin: 0 auto;
			display: block;
			padding: 10px 10px;
			width: 140px;
			border: 2px solid rgb(121, 119, 119);
			font-size: 16px;
			font-family: tahoma;
			letter-spacing: 2px;
			text-decoration: none;
			border-radius: 50px;
			text-align: center;
			color:white;
			margin-top: 40px;
			background: transparent;
			
	
		}
		@media (max-width: 767px) {
			#contant{
				
				
				width: 100%;
				height: 100%;
				clear: both;
				top: 50%;
				padding: 60px;
			   
			}
		}
	
	</style>
{% endblock %}