@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.about .carousel-item{
	min-height: 100vh;
    background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	
}
.about .carousel-item:before{
	content: '';
	position: absolute;
    left: 0;
	top: 0;
    width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.about .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.about .carousel-item h2{
	font-family: 'mate SC';
	font-size: 30px;
	color: #fff;
	margin: 0 0 10px;
	opacity: 1;
}
.about .carousel-item p{
	font-family: "Kaushan Script", cursive;
	font-size: 16px;
	margin: 0;
	color: #eee;
	opacity: 2;
	text-transform: lowerrcase;
}

.about .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.about .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

/*********************** Arrow Indication *************************/
.about .carousel-control-next .carousel-control-next-icon,
.about .carousel-control-prev .carousel-control-prev-icon{
	width: 30px;
    opacity: 1;
}
.about .carousel-control-next .carousel-control-next-icon{
	right: -90px;
}
.about .carousel-control-prev .carousel-control-prev-icon{
	left: -90px;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}


/*Responsive*/
@media(max-width: 767px){
	.about .carousel-control-next .carousel-control-next-icon,
	.about .carousel-control-prev .carousel-control-prev-icon{
		display: none;
	}	
	
	.about .carousel-item h2{
		font-size: 15px;
	}
	.about .carousel-item p{
		font-size: 10px;
	}
}