{% extends 'admin/change_list.html' %}
{% block object-tools %}
    <form id="admin-form" method="POST">
        {% csrf_token %}
        <input type="checkbox" name="activate" id="id_activate">
        <label class="required" for="id_activate" style="font-size: large;">Activate examination fee payment site</label><br><hr>
        <label class="required" for="sem" style="font-size: large;">Select the semester:</label>
        <input type="radio" class="form-check-input" name="sem" id="odd_sem">
        <label class="form-check-label">Odd Sem</label>
        <input type="radio" class="form-check-input" name="sem" id="even_sem">
        <label class="form-check-label">Even Sem</label>

    </form>

    {{ block.super }}
{% endblock object-tools %}